<h1><%= @title%></h1>
<!-Displays the total suspects and list them->
<h2>Total suspects: <%= @suspects.count %> </h2>

<table>
	<thead>
		<tr>
			<td>Email</td>
			<td>Log</td>
		</tr>
	</thead>

	<tbody>
		<% @suspects.each do |suspect| %>
		<% if suspect.email? %>
		<tr>
			<td><%= suspect.email %></td>
			<td><%= link_to 'View', by_email_suspects_path(email: suspect.email) %></td>
		</tr>
		<% end %>
		<% end %>
	</tbody>
</table>

<!-Just for developing reasons->
<%= link_to 'New Suspect', new_suspects_path %> 